@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
}
body{
    font-family: "Montserrat";
    /* overflow: hidden; */
}
.body{
    width: 100%;
}

/* nav */
.nav-title{
    font-size: 25px;
}
.navbar-nav .nav-item:first-child{
    padding-left:80px;
}
.nav-item{
    padding-left: 20px;
}
.nav-item.active a{
    color:#957DAD;
    font-weight: bold;
}
/* link */
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: none;
    color: black;
}
/* color */
.color-primary{
    color: #957DAD!important;
}
/* border */
.border-primary{
    border: 1px solid #957DAD!important;
    background: white;
    opacity: .7;
    color: #000;
}
/* button */
.btn-primary, .btn-primary:hover, .btn-primary:active{
    background:#957DAD;
    border-color: #957DAD;
}

.btn-primary-outline {
    background: #ffffff;
    border-color: #957DAD;
    color: #957DAD;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    background:#957DAD;
    border-color: #957DAD;
    color: white;
}

.btn-banner {
    border-radius: 50px;
    padding: 8px 20px;
}

.btn-white{
    background:white; 
     opacity: .7;
}
.btn-big-w{
    padding-left: 24px!important;
    padding-right: 24px!important;
}
.jumbotron{
    background: transparent;
}
.relative{
    position:relative;
}
.circle{
    height: 800px;
    width: 800px;
    border-radius: 50%;
}
.circle-top-right{
    top: -15%;
    right:-10%;
    z-index: -1;
}
.circle-bottom-left{
    bottom: -20%;
    left:-10%;
    z-index: -1;
}
.circle-bottom-right{
    bottom: -40%;
    right:-10%;
    z-index: -1;
}
/* background */
.bg-pink{
    background: #FEBDBC;
}
.bg-orange{
    background: #EE6E2F;
}
.bg-purple{
    background: #A9718E;
}
.bg-grey{
    background: #eaeaea7c;
}
.bg-black{
    background: #232323;
}
.bg-product{
    background-size: cover;
    background-position: center;
}
/* text */
.times{
    font-family: "Times New Roman";
}
.text-primary{
    color:#957DAD!important;
}
.text-white{
    color: #fff;
}
/* banner */
.lead a{
    padding-left: 20px;
    font-size: 15px;
}
.min-p{
    min-height: 154px;
}
.banner-image img{
    position: absolute;
    right: -10%;
    bottom: -21%;
}
.banner-content{
    padding-left:100px;
}
/* end banner */
/* about */
.container-about{
    padding: 50px;
    height: 200px;
}
.margin-auto{
    margin: auto;
}


/* collection */
.collection-card{
    height: 400px;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.collection-card .card-body{
    width: 100%;
    bottom: -50%;
    z-index: 9;
    
}
.container-collection{
    padding-top: 40px;
    padding-bottom: 40px;
}
.collection-card:hover .card-body{
    bottom: 0;
    transition: .5s;
  position: fixed;
  left: 0;
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0,0,0,0.9));
  overflow-x: hidden;
  transition: 0.5s;
}
.card-body .btn-default{
    background: #ffffff70;
    color: #fff;
}
.card-image{
    padding: 12px;
}
.product{
    padding-top: 40px;
    padding-bottom: 40px;
}
/* produk */
.our-product p.active{
    color: #957DAD;
    font-weight: bold;
}

/* footer */
footer{
    padding:50px;
    margin-top: 20px;
}
.social-media-footer{
    text-align: center;
}
.social-media-footer li{
    display: inline;
    color: #fff;
    padding: 12px;
    font-size: 25px;
}
.url-footer li{
    display: inline;
    padding: 12px;
}
.url-footer{
    text-align: center;
}
.url-footer li a{
    text-transform: uppercase;
    color: #fff;
}
@media(max-width:979px){
    .circle{
        display: none;
    }
}
@media(max-width:768px){
    .banner-image{
        display: none;
    }
    .banner-content{
        padding-left: 16px;
    }
    .navbar-nav .nav-item:first-child{
        padding-left: 20px;
    }
    .image-none{
        display: none;
    }
    .about{
        background: #EE6E2F;
        color: #fff;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 50px;
        padding-top: 10px;
    }
    .our-product{
        background: #A9718E;
        color: #fff!important;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 50px;
        height: 400px;
        padding-top: 10px;
    }
    .our-product hr{
        background: #fff;
    }
    .brands [class*='col-md-']{
        margin-top: 12px;
    }
}

.katalog .item .img {
    position: relative !important;
    height: 280px; 
    width: 100%;
    overflow: hidden;
}

.katalog .item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.katalog .item .img span {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #957DAD;
    color: white;
    font-weight: bold;
    border-radius: 33px;
    padding: 5px 20px;
}

.detail .img {
    position: relative !important;
    height: 450px; 
    width: 100%;
    overflow: hidden;
}

.detail .img2 {
    position: relative !important;
    height: 150px; 
    width: 100%;
    overflow: hidden;
}

.detail img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.detail .thumb {
    opacity: .3;
    transition: 0.3s;
}

.detail .thumb:hover {
    opacity: 1;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 1;
    animation: fadeIn 0.5s forwards;
}

.detail .thumb.active {
    opacity: 1;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none !important;
}
    
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
    
.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white !important;
}
    
.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}
    
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}
    
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
    
.number-input input[type=number] {
    text-align: center;
}
    
.number-input.number-input {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: .25rem;
}
    
.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}
    
.number-input.number-input button.minus {
    padding-left: 10px;
}
    
.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}
    
.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 36px;
    color: #495057;
}
    
@media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color:transparent) {
        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
        margin-top: -.3rem;
        }
    }
}